.main {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(3,175px);
    grid-gap: 15px;
    color:darkgrey;
}
.container {
    border: 1px solid darkgrey;
    padding: 5px;
}
.container2 {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    height: 25px;
    align-items: center;
    padding: 2px;
}
.container3 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 6px;

}
.star {
    width: 15px;
    height: 15px;
}
.icon {
    width: 12%;
    padding: 1px;
}
.pic {
    width: 100%;
}
span {
    margin-right: 4px;
}