html {
    width: 100%;
}
body {
    margin:0;
    width: 100%;
}
header {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}
main {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    padding: 0 100px 50px 100px;
}
footer {
    width: 100%;
}
.log,.headline {
    padding: 0 100px 0 100px;
    background-color: white;
}
.log {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 40px;
}
.login,.register {
    width: 5%;
    border: none;
    margin-left: 0;
}
.register:hover {
    color: #b596ff;
}
.login:hover {
    color: #b596ff;
}
.login {
    border-right: 1px solid grey;
    padding-right: 4px;
    border-radius: 0;
}
.headline,.pros {
    display: flex;
    justify-content: space-between;
    height: 50px;
    margin-bottom: 2px;
}
.contact{
    width: 20%;
    display: grid;
    grid-template-areas:
"phone need need need need need need"
"phone number number number number number number";
}
.phone {
    grid-area: phone;
}
.phoneimg {
    width: 40px;
    height: 40px;
}
.need {
    grid-area: need;
    color: dimgray;
}
.number {
    grid-area: number;
}
h1 {
    align-self: center;
}
input {
    border: 2px solid gray;
    height: 35px;
    width: 200px;
    border-radius: 12px;
    outline: none;
    margin: 4px;
}
nav {
    display: flex;
    height: 50px;
    margin-bottom: 2px;
    padding: 0 100px 0 100px;
    background-color: white;
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    width:1000px;
}
.menu {
padding-right: 10px;
    padding-left: 0;
}
.imgcart {
    width: 50px;
    height: 35px;
}
.cart {
     display: flex;
     align-items: center;
    width: 150px;
   justify-content: flex-end;
 }
.pros {
    padding: 0 0 0 100px;
    background-color: white;
}
 .container {
    display: flex;
    align-items: center;
     width: 30%;
}
.img41, .img42 {
    width: 40px;
    height: 35px;
}
.img42 {
    margin-right: 10px;
}
.body1 {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows:repeat(6,1fr);
    grid-gap: 4px;
    height: 610px;
    padding: 4px;
}
.left1 {
    grid-column: 1/2;
    grid-row:1/3;
    padding: 20px;
    line-height: 10px;
    background-color: white;
}
.left2 {
    grid-column: 1/2;
    grid-row:3/5;
    padding: 20px;
    line-height: 10px;
    background-color: white;
}
.left3 {
    grid-column: 1/2;
    grid-row:5/7;
    padding: 20px;
    line-height: 10px;
    background-color: white;
}
.pic {
    grid-column: 2/5;
    grid-row:1/7;
    position: relative;
}
.order {
    position: absolute;
    top:200px;
    left: 300px;
    text-align: center;
    font-weight: bold;
}
.orderflowers {
    font-style: italic;
    font-size: 40px;
    margin-bottom: 10px;
}
.shop {
    height: 30px;
    border-radius: 25px;
    outline: none;
    width: 150px;
}
.arrow {
    width: 35px;
    height: 35px;
}
.flowers {
    height: 610px;
    width: 100%;
}
h3 {
    font-weight: normal;
    font-size: 20px;
    color: #606060;
    padding-top: 20px;
}
.body2 {
    display: flex;
    overflow-x: auto;
    height: 350px;
}
.body2::-webkit-scrollbar{
    height: 10px;
}
.body2::-webkit-scrollbar-thumb {
    border-radius: 10px;
  box-shadow: inset 0 0 4px #bdc1b0;
    background-color: whitesmoke;
}
.block {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin:0 10px 0 10px ;
}
h4 {
    font-weight: normal;
    font-size: 15px;
    color: #4d4d4d;
}
.flowersprice {
    height: 230px;
    width: 200px;
    padding-bottom: 10px;
}
.price {
    display: flex;
    justify-content: center;
    height: 20px;
}
button {
    background-color: white;
    color: black;
    border: 1px solid gray;
    height: 20px;
    border-radius: 12px;
margin-left: 10px;
    outline: none;
}
.foot {
    background-color: #e6ead8;
    padding: 0 100px 0 100px;
}
.foot1 {
    display: flex;
    height: 400px;
   padding: 30px 0 30px 0;
}
.information{
    width: 200px;
    font-size: 15px;
    margin: 10px;
}
.foothead {
    font-weight: bold;
    padding-bottom: 7px;
    margin-top: 10px;
}
li {
    list-style-type: none;
    margin-bottom: 10px;
}
.join {
    height: 37px;
    width: 203px;
    border-radius: 12px;
    background-color: darkgreen;
    color: white;
    margin: 4px ;
}
.foot2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    padding: 0 100px 0 100px;
}
.copyright {
    width: 200px;
    text-align: center;
    color: gray;
}
.pay {
    height: 40px;
    width: 240px;
}
.logo {
    height: 50px;
    width: 80px;
    padding-left: 50px;
}